<div *ngFor="let item of chart" class="row m-1">
    <h2 class="display-4">Estadistica: {{item.nombre}}</h2>
    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="item.data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    legendTitle="Referencias"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="item.xAxisLabel"
    [yAxisLabel]="item.yAxisLabel"
    (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
    
</div>