<!-- Si a la línea de abajo, le agregás "background-image: url(./assets/imagen_fondo.jpg)", te queda con un fondito lindo. O le cambiás el color  -->
<div class="container-fluid imagen" style="width:100%;height:100%;padding:0%; background-color:aqua">
  <div class="container-fluid text-center" style="padding-top: 2vh;margin-bottom: 2vh;">
    <!-- Si a la linea de abajo la descomentas y pones la imagen en assets, te queda el logo-->
    <!-- <img src="../../../assets/iconos/logo.png" alt="" style="height: 22vh;"> -->
    <p>El logo va acá</p>
  </div>
  <div>
    <div class= "container" style="margin: auto;width: 20rem;height: 28rem;background-color: #e9ecef;padding: 2%;opacity:0.95;border-radius: 3%">
          <div>
                <form class="m-3 text-center">

                      <h3>Bienvenido</h3>
                      <br>

                      <div class="form-group text-center">
                        <label for="usuarioInput">Usuario</label>
                        <input id="usuarioInput" type="text" [(ngModel)]="usuario" class="form-control" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,15}$"
                        title="Alguna descripción del Usuario"
                        placeholder="Usuario" required [ngModelOptions]="{standalone: true}" >
                      </div>

                      <div class= "form-group mt-4 text-center">
                        <label for= "passwordInput">Contraseña</label>
                        <input id="passwordInput" type= "password" [(ngModel)]="password" class="form-control" pattern="[a-zA-Z0-9]{6,15}"
                        title="Debe poseer mínimo 6 caracteres de longitud con letras y números"
                        placeholder="Contraseña" required [ngModelOptions]="{standalone: true}">
                      </div>
  
                      <div>
                          <button (click)= "login()" type="button"
                          class="btn btn-primary mt-3" style='width:7rem; height:3rem'>Ingresar</button>
                      </div>

                </form>

                <div *ngIf="mostrarMensajeError" class="text-center" style= "color: red">
                  <p><small> {{ mensajeError }} </small></p>
                </div>
        </div>
</div>
</div>  
</div>

